<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Todo</title>
    <link rel="assets/" href="style.css">
  </head>
  <body>
    <!-- page content -->
    <form>
      <input type="text" value="Add an item">
      <input type="submit" value="Add">
    </form>
  </body>
</html>
